@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

:root {
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: #fff;
  background: url(https://wallpaperaccess.com/full/1858113.jpg),
    rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
}

.menu {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  letter-spacing: 3px;
}

.socials {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);
  flex-direction: column;
  gap: 2rem;
}

li:hover {
  cursor: pointer;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #EA3788, 0 0 0.5em #EA3788,
    0 0 0.1em #EA3788, 0 10px 3px #000;
  animation: flicker 2s linear infinite;
}

.socials li:hover {
  transform: scale(1.25);
}

.logo {
  margin-top: 10rem;
  letter-spacing: -0.25rem;
  max-width: 800px;
  font-size: 6rem;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #EA3788,
    0 0 82px #EA3788, 0 0 92px #EA3788, 0 0 102px #EA3788, 0 0 151px #EA3788;
}

.logo b {
  font-weight: 400;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #EA3788, 0 0 0.5em #EA3788,
    0 0 0.1em #EA3788, 0 10px 3px #000;
  animation: flicker 2s linear infinite;
}

.logo span {
  animation: blink linear 8s;
  animation-delay: 3s;
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.89;
  }

  6% {
    opacity: 0.98;
  }

  8% {
    opacity: 0.93;
  }

  10% {
    opacity: 0.93;
  }

  11% {
    opacity: 0.945;
  }

  12% {
    opacity: 1;
  }

  14% {
    opacity: 0.91;
  }

  16% {
    opacity: 0.885;
  }

  17% {
    opacity: 0.86;
  }

  19% {
    opacity: 0.92;
  }

  20% {
    opacity: 0.9;
  }

  24% {
    opacity: 0.9;
  }

  26% {
    opacity: 0.88;
  }

  28% {
    opacity: 1;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.93;
  }

  39% {
    opacity: 0.81;
  }

  42% {
    opacity: 0.83;
  }

  44% {
    opacity: 0.83;
  }

  46% {
    opacity: 0.81;
  }

  56% {
    opacity: 1;
  }

  58% {
    opacity: 0.91;
  }

  60% {
    opacity: 0.935;
  }

  68% {
    opacity: 0.95;
  }

  70% {
    opacity: 0.95;
  }

  72% {
    opacity: 0.92;
  }

  93% {
    opacity: 0.97;
  }

  95% {
    opacity: 0.91;
  }

  97% {
    opacity: 0.86;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    color: inherit;
    text-shadow: inherit;
  }
  38% {
    color: inherit;
    text-shadow: inherit;
  }
  38.25% {
    color: #333;
    text-shadow: 0 0 1em #000, 0 0 8px rgba(0, 0, 0, 0.15),
      -10px 0px 3px rgba(0, 0, 0, 0.15), 0 15px 3px rgba(0, 0, 0, 0.1);
  }
  38.5% {
    color: inherit;
    text-shadow: inherit;
  }
  42% {
    color: inherit;
    text-shadow: inherit;
  }
  42.25% {
    color: #333;
    text-shadow: 0 0 1em #000, 0 0 8px rgba(0, 0, 0, 0.15),
      -10px 0px 3px rgba(0, 0, 0, 0.15), 0 15px 3px rgba(0, 0, 0, 0.1);
  }
  42.5% {
    color: inherit;
    text-shadow: inherit;
  }
  70% {
    color: inherit;
    text-shadow: inherit;
  }
  70.25% {
    color: #333;
    text-shadow: 0 0 1em #000, 0 0 8px rgba(0, 0, 0, 0.15),
      -10px 0px 3px rgba(0, 0, 0, 0.15), 0 15px 3px rgba(0, 0, 0, 0.1);
  }
  to {
    color: #333;
    text-shadow: 0 0 1em #000, 0 0 8px rgba(0, 0, 0, 0.15),
      -10px 0px 3px rgba(0, 0, 0, 0.15), 0 15px 3px rgba(0, 0, 0, 0.1);
  }
}
